<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
  <%- include('partials/nav'); %>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
 consectetur aliquam sunt accusantium provident aspernatur quia quibusdam ad
  veniam totam? Dolore atque voluptates maxime fuga esse eius, in quo enim!</h2>
</body>
</html>